{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation d'un nouveau produit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('achat_index') }}">Revenir à la liste des achats</a>
        </li>
    </ul>
{% endblock %}
